@page "/cases/matches"
@rendermode InteractiveServer

<PageTitle>Case Match</PageTitle>
<div class="container-fluid">
    <div class="pt-4 px-4 fs-2">Your Case</div>
    <div class="px-4 fs-5">Keep track of all your cases.</div>

</div>

<FoundBox.Components.Layout.CaseComponents.Matches/>

@code {

}
