<div class="container-fluid pt-4">
    <div class="row">
        <SideBar/>
        <ItemDescription/>
    </div>
</div>
@code {

// <div class="col-12 col-md-3">
//     <h6 class="mb-3 px-3">1344 lost items</h6>

//     @foreach (var item in LostItems)
//         {
//     <button class="lost-card mb-3 p-3 rounded text-start w-100 border-0"
//             @onclick="() => SelectItem(item)">
//         <h5 class="mb-1">@item.Name</h5>
//         <div>📍 @item.Location</div>
//         <div>@item.Category</div>
//         <small class="text-muted">Posted @item.PostedAgo</small>
//     </button>
//         }
// </div>
    // void SelectItem(LostItem item)
    // {
    //     SelectedItem = item;
    //     You can display it in the right column
    // }
}
