<!-- Left column (list) -->
<div class="col-12 col-md-3 overflow-auto" style="max-height: 150vh">
    <h6 class="mb-3 px-3">1344 lost items</h6>

    <!-- Card 1 -->
    <button class="lost-card mb-3 p-3 rounded text-start w-100 border-0">
        <h5 class="mb-1">Keys with Bulbasaur Keychain</h5>
        <div>📍 Tampines Mall</div>
        <div>Keys</div>
        <small class="text-muted">Posted 1 day ago</small>
    </button>

    <!-- Card 2 -->
    <button class="lost-card mb-3 p-3 rounded text-start w-100 border-0">
        <h5 class="mb-1">Keys with Bulbasaur Keychain</h5>
        <div>📍 Tampines Mall</div>
        <div>Keys</div>
        <small class="text-muted">Posted 1 day ago</small>
    </button>

    <!-- Card 3 -->
    <button class="lost-card mb-3 p-3 rounded text-start w-100 border-0">
        <h5 class="mb-1">Keys with Bulbasaur Keychain</h5>
        <div>📍 Tampines Mall</div>
        <div>Keys</div>
        <small class="text-muted">Posted 1 day ago</small>
    </button>

    <!-- Card 4 -->
    <button class="lost-card mb-3 p-3 rounded text-start w-100 border-0">
        <h5 class="mb-1">Keys with Bulbasaur Keychain</h5>
        <div>📍 Tampines Mall</div>
        <div>Keys</div>
        <small class="text-muted">Posted 1 day ago</small>
    </button>

    <!-- Card 5 -->
    <button class="lost-card mb-3 p-3 rounded text-start w-100 border-0">
        <h5 class="mb-1">Keys with Bulbasaur Keychain</h5>
        <div>📍 Tampines Mall</div>
        <div>Keys</div>
        <small class="text-muted">Posted 1 day ago</small>
    </button>

    <!-- Card 6 -->
    <button class="lost-card mb-3 p-3 rounded text-start w-100 border-0">
        <h5 class="mb-1">Keys with Bulbasaur Keychain</h5>
        <div>📍 Tampines Mall</div>
        <div>Keys</div>
        <small class="text-muted">Posted 1 day ago</small>
    </button>

    <!-- Card 7 -->
    <button class="lost-card mb-3 p-3 rounded text-start w-100 border-0">
        <h5 class="mb-1">Keys with Bulbasaur Keychain</h5>
        <div>📍 Tampines Mall</div>
        <div>Keys</div>
        <small class="text-muted">Posted 1 day ago</small>
    </button>
</div>

@code {

}
