@page "/postforfinder"

@* Heading *@
<div class="container-fluid bg-secondary bg-opacity-25">
    <h1 class="m-0 py-5 px-4 fw-normal">Item Details</h1>
</div>

<FoundBox.Components.Layout.PostingForFinderComponents.ItemDetails/>
<FoundBox.Components.Layout.PostingForFinderComponents.ItemSpecificFeatures/>
<FoundBox.Components.Layout.PostingForFinderComponents.UploadImage/>
<FoundBox.Components.Layout.PostingForFinderComponents.ContactInformation/>

@* Post and Back Button *@
<div class="row g-3 px-5 py-5">
    <div class="col-12 col-md-6">
        <button class="btn btn-dark w-100">Back</button>
    </div>
    <div class="col-12 col-md-6">
        <button class="btn btn-dark w-100">Post</button>
    </div>
</div>

@code {

}
