@inherits LayoutComponentBase

<div class="page d-flex flex-column min-vh-100">
    <main>
        <div class="top-row px-4">
            <FoundBox.Components.Layout.GeneralComponents.NavBarWithAccount/>
        </div>
        <article class="">
            @Body
        </article>
    </main>
    <footer>
        <FoundBox.Components.Layout.GeneralComponents.Footer/>
    </footer>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}