<div class="container-fluid">
    <div class="row g-3 pt-5">
        <!-- Search input -->
        <div class="col-12 col-md-5">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-search fs-2"></i>
                </span>
                <input type="text" class="form-control" placeholder="Items" aria-label="search">
            </div>
        </div>

        <!-- Location input -->
        <div class="col-12 col-md-5">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-pin-map-fill fs-2"></i>
                </span>
                <input type="text" class="form-control" placeholder="Location" aria-label="location">
            </div>
        </div>
        <div>
            <p>testing</p>
        </div>
        <!-- Button -->
        <div class="col-12 col-md-2 d-grid">
            <button class="btn btn-dark">Search items</button>
        </div>
    </div>
</div>
<!--All Filters-->
<div class="p-3">
    <a href="#" class="d-flex align-items-center text-decoration-none">
        <i class="bi bi-filter fs-2 me-2"></i>
        <span>All Filters</span>
    </a>
</div>


@code {

}
