<div class="container-fluid px-5 py-4">
    <div class="row border rounded border-top-0 bg-secondary bg-opacity-10">
        <div class="rounded bg-secondary bg-opacity-75 px-4 py-2">4. Contact Information</div>
        <div class="px-4 py-4">
            <div>Email Address</div>
            <div class="col-12 col-md-3">
                <input type="text" class="form-control" placeholder="2404550B@student.tp.edu.sg">
            </div>
        </div>
    </div>
</div>

@code {

}
