<div class="container-fluid px-5 py-4">
    <div class="row border rounded border-top-0 bg-secondary bg-opacity-10">
        <div class="rounded bg-secondary bg-opacity-75 px-4 py-2">1. Enter Item Details</div>
        <div class="px-4 py-4">
            <div>Item Category</div>
            <div class="btn-group col-12 col-md-3">
                <button class="btn btn-secondary dropdown-toggle d-flex justify-content-between align-items-center" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Keys
                </button>
                <div class="dropdown-menu w-100">
                    <button class="dropdown-item" type="button">Key</button>
                    <button class="dropdown-item" type="button">Wallet</button>
                    <button class="dropdown-item" type="button">Mobile Phone</button>
                </div>
            </div>
        </div>
        <div class="px-4">
            <div>Brand / Model</div>
            <div class="col-12 col-md-3">
                <input type="text" class="form-control" placeholder="Nil if no brand/model">
            </div>
        </div>
        <div class="px-4 py-4">
            <div>Color</div>
            <div class="col-12 col-md-3">
                <input type="text" class="form-control" placeholder="Nil if no color">
            </div>
        </div>
        <div class="px-4 pb-4">
            <div>Location</div>
            <div class="col-12 col-md-3">
                <input type="text" class="form-control" placeholder="Tampines Mall">
            </div>
        </div>
    </div>
</div>

@code {

}
